#desktop {
    @apply relative p-8 w-full h-full;
    div.desktop-icons {
        @apply relative w-full h-full;
        button.desktop-icon {
            @apply absolute w-56 h-56;
            @apply flex flex-col items-center gap-4;
            @apply text-base-100;
            img {
                @apply w-24 h-24;
            }
            span {
                @apply px-1 text-xl;
                line-height: 100%;
            }

            &.desktop-icon-selected {
                span {
                    border: dashed 2px var(--base-900);
                    border-image: url("border/border-white.png") 25% round;
                    border-image-repeat: round;
                    @apply bg-blue;
                }
            }
        }
    }
    div.desktop-info {
        @apply absolute bottom-32 right-12;
        @apply flex flex-col items-end;
        @apply text-base-100 opacity-50;
        h1 {
            @apply text-3xl;
        }
        span {
            @apply text-lg;
        }
    }
}