@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@import "desktop.css";
@import "forms.css";
@import "taskbar.css";
@import "window.css";

@font-face {
    font-family: "MS Sans Serif";
    src: url("../font/MS Sans Serif 8pt.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "MS Sans Serif";
    src: url("../font/MS Sans Serif Bold.otf") format("opentype");
    font-weight: bold;
}

:root {
    --base-100: #FFFFFF;
    --base-200: #C0C7C8;
    --base-300: #87888F;
    --base-900: #000000;
    --win-blue: #0000FF;
    --win-dark-blue: #0000A8;
    --win-red: #FF0000;
}

body {
    @apply w-screen h-screen overflow-hidden;
    @apply bg-teal cursor-default text-xl;
    font-family: MS Sans Serif, sans-serif;
    image-rendering: pixelated;
}

#container {
    @apply relative w-screen h-screen;
}

.btn {
    @apply relative h-16 px-4 active:pt-1 cursor-pointer;
    @apply bg-base-200 font-bold text-xl;
    @apply flex flex-row items-center gap-3;
    box-shadow: inset -2px -2px 0 0 var(--base-900),
        inset 2px 2px 0 0 var(--base-100),
        inset -4px -4px 0 0 var(--base-300);
    &:active {
        box-shadow: inset 2px 2px 0 0 var(--base-900),
            inset -2px -2px 0 0 var(--base-100),
            inset 4px 4px 0 0 var(--base-300);
    }

    &:not(.no-focus-outline):focus::after {
        content: "";
        @apply absolute top-1 active:top-2 left-2 right-2 bottom-2 active:bottom-1;
        border: dashed 2px var(--base-900);
        border-image: url("border/border.png") 25% round;
    }

    &:disabled {
        @apply text-base-300;
    }

    &.btn-ghost {
        @apply bg-transparent;
        box-shadow: none;
        &:hover {
            box-shadow: inset -2px -2px 0 0 var(--base-300), inset 2px 2px 0 0 var(--base-100);
        }
        &:active {
            box-shadow: inset -2px -2px 0 0 var(--base-100), inset 2px 2px 0 0 var(--base-300);
        }
    }

    &.btn-dropdown {
        @apply px-4;
        img {
            @apply w-6 object-contain;
        }
    }
}

.btn-group {
    @apply flex flex-row;
    &.btn-group-ghost {
        &:hover >.btn-ghost {
            box-shadow: inset -2px -2px 0 0 var(--base-300), inset 2px 2px 0 0 var(--base-100);
        }
        .btn-ghost:active {
            box-shadow: inset -2px -2px 0 0 var(--base-100), inset 2px 2px 0 0 var(--base-300);
        }
    }
}