@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@import "desktop.css";
@import "taskbar.css";

@font-face {
    font-family: "W95FA";
    src: url("../font/W95FA.woff2") format("woff2");
}

:root {
    --base-100: #FFFFFF;
    --base-200: #C0C7C8;
    --base-300: #87888F;
    --base-900: #000000;
    --win-blue: #0000FF;
    --win-dark-blue: #0000A8;
    --win-red: #FF0000;
}

body {
    @apply bg-teal;
    @apply w-screen h-screen overflow-hidden;
    font-family: W95FA, sans-serif;
    image-rendering: pixelated;
}

#container {
    @apply relative w-screen h-screen;
}

.btn {
    @apply relative h-16 px-8 active:pt-1;
    @apply bg-base-200 font-bold text-xl;
    @apply flex flex-row items-center gap-3;
    box-shadow: inset -2px -2px 0 0 var(--base-900),
        inset 2px 2px 0 0 var(--base-100),
        inset -4px -4px 0 0 var(--base-300);
    &:active {
        box-shadow: inset 2px 2px 0 0 var(--base-900),
            inset -2px -2px 0 0 var(--base-100),
            inset 4px 4px 0 0 var(--base-300);
    }

    &:focus::after {
        content: "";
        @apply absolute top-1 active:top-2 left-2 right-2 bottom-2 active:bottom-1;
        border: dashed 2px var(--base-900);
        border-image: url("border.png") 25% round;
    }
}