div.window {
    @apply absolute p-4 z-20;
    @apply bg-base-200 min-w-[512px] min-h-[128px];
    box-shadow: inset -2px -2px 0 0 var(--base-900),
        inset 2px 2px 0 0 var(--base-200),
        inset -4px -4px 0 0 var(--base-300),
        inset 4px 4px 0 0 var(--base-100);

    div.window-title-bar {
        @apply h-16 flex flex-row justify-between items-center px-2;
        @apply bg-base-300 text-base-200 font-bold;

        div.window-title {
            @apply flex flex-row items-center gap-2;
            img {
                @apply w-12 h-12;
            }
        }

        div.window-controls {
            @apply flex flex-row items-center gap-2;
            button.window-control {
                @apply w-12 h-12 p-0 pr-1 pb-1;
                @apply flex justify-center items-center;
                img {
                    @apply w-6 h-6;
                }
            }
        }
    }

    &.window-focus {
        @apply z-30;
        div.window-title-bar {
            @apply bg-darkblue text-base-100;
        }
    }
}

div.window-drag-area {
    @apply absolute;
    border: dashed 8px red;
    border-image: url("border-red.png") 25% round;
    border-image-repeat: round;
}